@using Uploadify.Server.IdentityServer.Views.Shared
@using Microsoft.AspNetCore.Mvc.Localization
@using Uploadify.Server.Domain.Infrastructure.Localization.Constants
@model Uploadify.Server.Application.Auth.ViewModels.LoginViewModel

@inject IViewLocalizer ViewLocalizer

@{
    Layout = "_Layout";
    ViewData["Title"] = ViewLocalizer[Translations.Pages.Login.Title];
}

<form asp-controller="Account" asp-action="HandleLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" asp-antiforgery="true" novalidate>
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="small-12 cell" style="margin-bottom: 1rem;">
                @await Html.PartialAsync("_Logo")
            </div>
            <div class="small-12 cell" style="margin-bottom:1rem;">
                <h1 class="text-center">@ViewLocalizer[Translations.Pages.Login.Title]</h1>
            </div>
            <div class="small-12 cell pb-5">
                <div class="grid-container px-0">
                    <div class="grid-x">
                        <div class="small-12 cell">
                            @await Html.PartialAsync("_Input", new InputViewModel { Label = ViewLocalizer[Translations.Pages.Login.LoginLabel].Value, InputType = "text", PropertyName = nameof(Model.Form.UserName), Value = Model.Form.UserName, Errors = Model.Errors?.GetValueOrDefault(nameof(Model.Form.UserName))})
                        </div>
                        <div class="small-12 cell">
                            @await Html.PartialAsync("_Input", new InputViewModel { Label = ViewLocalizer[Translations.Pages.Login.PasswordLabel].Value, InputType = "password", PropertyName = nameof(Model.Form.Password), Value = Model.Form.Password })
                        </div>
                    </div>
                </div>
            </div>
            <div class="small-12 cell">
                <button type="submit" class="button expanded">@ViewLocalizer[Translations.Pages.Login.SignInButton]</button>
                <a asp-controller="Account" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl" class="button secondary expanded">@ViewLocalizer[Translations.Pages.Login.SignUpButton]</a>
            </div>
        </div>
    </div>
</form>
