@inject IViewLocalizer ViewLocalizer

@using Microsoft.AspNetCore.Mvc.Localization
@model Uploadify.Server.IdentityServer.Views.Shared.InputViewModel

@{
    var isInvalid = Model.Errors != null && Model.Errors.Any();
}

<div>
    <label class="@(isInvalid ? "validation-error" : string.Empty)">
        @Model.Label&nbsp;
        @if (Model.IsOptional)
        {
            <small>Optional</small>
        }
        <input class="@(isInvalid ? "validation-error" : string.Empty)"
               id ="@Model.PropertyName.ToLowerInvariant()"
               name="@Model.PropertyName.ToLowerInvariant()"
               value="@Model.Value"
               novalidate
               type="@Model.InputType" />
    </label>
    @if (isInvalid && Model.Errors is { Length: > 0 })
    {
        <p class="help-text">
            <span>@ViewLocalizer[Model.Errors.First()]</span>
            <br/>
        </p>
    }
</div>
