@inject IStringLocalizer<TranslationDictionary> Localizer

<MudAppBar Bottom Elevation="24">
    <MudContainer MaxWidth="@MaxWidth.Small">
        <div class="d-flex justify-center gap-5 mud-width-full">
            <MudIconButton Href="@PageRoutes.Homepage"
                           Icon="@Icons.Material.Rounded.Folder"
                           Title="@Localizer[Translations.Components.AuthenticatedLayout.DashboardLink]"
                           Variant="@Variant.Text"/>
            <MudIconButton Href="@PageRoutes.Shared"
                           Icon="@Icons.Material.Rounded.Share"
                           Title="@Localizer[Translations.Components.AuthenticatedLayout.SharedLink]"
                           Variant="@Variant.Text"/>
            <MudIconButton Href="@PageRoutes.More"
                           Icon="@Icons.Material.Rounded.Navigation"
                           Title="@Localizer[Translations.Components.AuthenticatedLayout.MoreLink]"
                           Variant="@Variant.Text"/>
        </div>
    </MudContainer>
</MudAppBar>
